VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=
VITE_N8N_ANAMNESIS_WEBHOOK_URL=https://n8nvet.predictvet.app/webhook/anamnese-soap
VITE_N8N_WEBHOOK_SECRET=
VITE_OPENAI_API_KEY=
VITE_N8N_ULTRASOUND_WEBHOOK_URL=
VITE_N8N_VOICE_CONSULTATION_URL=https://n8nvet.predictlab.com.br/webhook/voice-consultation
